/collection*
/miplib*
*__pycache__*
*gurobi_license*
*/batch*
/batch*
/rules*
*mip311

# === Terraform ===
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
override.tf
override.tf.json
terraform.tfvars.json
.terraform.lock.hcl

# === Terraformer ===
generated/
terraformer.log